{% extends 'base.html' %}
{% block content %}
<h1>My Rides</h1>
<table class="table">
  <thead>
    <tr>
      <th scope="col">status</th>
      <th scope="col">destination</th>
      <th scope="col">arrival</th>
      <th scope="col">number</th>
      <th scope="col">shared</th>
      <th scope="col">edit</th>
      <th scope="col">complete</th>
    </tr>
  </thead>
  <tbody>
  {% for object in objects %}
    <tr>
      <td>{{object.status}}</td>
      <td>{{object.destination}}</td>
      <td>{{object.arrival}}</td>
      <td>{{object.number}}</td>
      <td>{{object.shared}}</td>
      {% if object.status != "complete" %}
      <td><a href="/edit/{{object.ride_id}}" class="btn btn-sm btn-primary">Edit</a></td>
      {% endif %}
      {% if object.status == "confirmed" %}
      <td><a href="/complete/{{object.ride_id}}" class="btn btn-sm btn-primary">Complete</a></td>
      {% endif %}
    </tr>
  {% endfor %}
  </tbody>
</table>
<h1>My Driver Info</h1>
<table class="table">
<thead>
  <tr>
      <th scope="col">license plate number</th>
      <th scope="col">vehicle type</th>
      <th scope="col">maximum number of passengers</th>
      <th scope="col">edit</th>
    </tr>
  </thead>
{% for driver in drivers %}
    <tr>
      <td>{{driver.plate}}</td>
      <td>{{driver.type}}</td>
      <td>{{driver.passengers}}</td>

      <td><a href="/update/{{driver.user.id}}" class="btn btn-sm btn-primary">Edit</a></td>
    </tr>
  {% endfor %}
  </table>

<div style="z-index: 1; position: relative; text-align: center;">
  <a href="/opens/" class="btn btn-lg btn-primary">Open Rides</a>
</div>
{% endblock %}
